.loginPage__container {

    border: 1px white solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 90%;
    margin: 50px;
}


.loginPage__form-fields {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10%;


    input {
        margin: 10px;


    }

    label {

        text-align: center;
    }


}